/* 
* Fuente Heading
* Colores
*/

:root {
    --fuenteHeading: 'Nunito', sans-serif;;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --azul-fuerte: #152853;
    --azul-claro: #344468;
    --blanco: #ffffff;
    --negro: #000000;
}

body {
    font-family: var(--fuenteHeading);
    /* font-size: 1.6rem; */
    /* line-height: 2; */
    background-image: url(../img/titan2.jpg);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo
    /* Opcional: ajusta la posición de la imagen */
    background-position: center center;
}

/** Globales */
.header {
    
}

.header__titulo {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
