/* 
* Fuente Heading
* Colores
*/

:root {
    --fuenteHeading: 'Nunito', sans-serif;;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --azul-fuerte: #152853;
    --azul-claro: #344468;
    --blanco: #ffffff;
    --negro: #000000;
}

body {
    font-family: var(--fuenteHeading);
    /* font-size: 1.6rem; */
    /* line-height: 2; */
    background-image: url(../img/titan2.jpg);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo
    /* Opcional: ajusta la posición de la imagen */
    background-position: center center;
}

/** Globales */
.header {
    
}

.header__titulo {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
/* Las siguientes tres clases ayudan */
.fondo {
    width: 100%;                        /* Ocupar todo el ancho de la pantalla */
    height: 100%;                       /* Ocupar toda la altura de la pantalla */
    background-image: url('background.jpeg'); /* Ruta de tu imagen */
    background-size: cover;             /* Ajustar la imagen para que cubra todo el fondo */
    background-repeat: no-repeat;       /* Evitar que la imagen de fondo se repita */
    background-position: center center; /* Centrar la imagen de fondo */
}

                                         /* Estilo de la cuadrícula */
.grid {
    display: grid;
    grid-template-columns: repeat(17, 1fr); /* 17 columnas con tamaño igual */
    grid-template-rows: repeat(3, 1fr);     /* 3 filas con tamaño igual */
    width: 100%;                        /* Ocupar todo el ancho disponible */
    height: 100%;                       /* Ocupar toda la altura disponible */
    
}
                                        /* Estilo de los rectángulos */
.rectangulo {
                                        
    text-align: center;                 /* Alineación del texto en el rectángulo */
    padding: 10px;                      /* Espacio interior del rectángulo */
}